<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HelloWorld.User_Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HelloWorld.HV_settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HelloWorld.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HelloWorld.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <HelloWorld.User_Settings>
            <setting name="Heat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GunAlign" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImlCentering_x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImlCentering_y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Stig_x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Stig_y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ObjCentering_x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ObjCentering_y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Vf_Resolution" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Vf_Field" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Vf_WideField" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Vf_Rokveld" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GainOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HVProfile" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MicroscopyMode" serializeAs="String">
                <value>0</value>
            </setting>
        </HelloWorld.User_Settings>
        <HelloWorld.HV_settings>
            <setting name="HV" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="WD_RAW" serializeAs="String">
                <value>10</value>
            </setting>
        </HelloWorld.HV_settings>
        <HelloWorld.Settings1>
            <setting name="zoom_min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="zoom_max" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="kV_max" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="scan_d" serializeAs="String">
                <value>39.5</value>
            </setting>
            <setting name="WD" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="kV" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="f_min" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="p" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="I_scale_max" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="filament" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="hv_raw_max" serializeAs="String">
                <value>5400</value>
            </setting>
            <setting name="fb_raw_max" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Scanner_ISelect_Min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Scanner_ISelect_Max" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="WD_offset_OBJ" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="WD_offset_IML" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="q_max" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Coef_res_fine" serializeAs="String">
                <value>0.000275829</value>
            </setting>
            <setting name="Coef_res_course" serializeAs="String">
                <value>0.0455119</value>
            </setting>
            <setting name="Focus_Max_res_fine" serializeAs="String">
                <value>4095</value>
            </setting>
            <setting name="Focus_Max_res_course" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Focus_Min_res_fine" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Focus_Min_res_course" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IObj_WF" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Coef_IML_fine" serializeAs="String">
                <value>0.000333333</value>
            </setting>
            <setting name="WD_real_IML" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Zoom_Max_res" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="Zoom_Min_res" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Focus_Max_IML_fine" serializeAs="String">
                <value>4095</value>
            </setting>
            <setting name="Focus_Min_IML_fine" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Zoom_Max_IML" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="Zoom_Min_IML" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogI_Min_Resolution" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LogI_Max_Resolution" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LogI_Min_WideField" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LogI_Max_WideField" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LogI_Min_Field" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LogI_Max_Field" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LogI_Min_Rokveld" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LogI_Max_Rokveld" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="vf_max" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="vf_min" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="num_stig_min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="num_stig_max" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="num_gain_min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="num_gain_max" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="num_obj_min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="num_obj_max" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="num_iml_min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="num_iml_max" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="num_gunshift_min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="num_gunshift_max" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="num_guntilt_min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="num_guntilt_max" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="stage_rot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="stage_hys" serializeAs="String">
                <value>0</value>
            </setting>
        </HelloWorld.Settings1>
        <HelloWorld.Properties.Settings>
            <setting name="ic_teta_value" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ga_teta_value" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UD_STrim_Val1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UD_STrim_Val3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UD_STrim_Val5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UD_STrim_Val6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UD_DacxMeanVal" serializeAs="String">
                <value>2100</value>
            </setting>
            <setting name="UD_DacyMeanVal" serializeAs="String">
                <value>2100</value>
            </setting>
            <setting name="UD_DacxAmp" serializeAs="String">
                <value>1950</value>
            </setting>
            <setting name="UD_DacyAmp" serializeAs="String">
                <value>1950</value>
            </setting>
            <setting name="m1" serializeAs="String">
                <value />
            </setting>
            <setting name="m2" serializeAs="String">
                <value />
            </setting>
            <setting name="filament" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HV" serializeAs="String">
                <value>30</value>
            </setting>
        </HelloWorld.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
